* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header,
main,
footer {
    padding: 0.5rem;
}

header {
    background-color: red;
    text-align: right;
}

h1 {
    text-align: center;
}

main {
    background-color: red;
}

footer {
    background-color: red;
}

.grid-container {
    display: grid;
    grid-template-rows: 60px 1fr 30px;
    min-height: 100vh;
}


/* tablet rules */

@media only screen and (min-width: 768px) {
    .photo {
        max-width: 30%;
        float: right;
        margin-right: 0.5rem;
    }
}


/* desktop rules */

@media only screen and (min-width: 991px) {
    .grid-container {
        grid-template-rows: 120px 1fr 30px;
    }
}

header button {
    display: none;
}