                * {
                    box-sizing: border-box;
                    padding: 0;
                    margin: 0;
                    font-family: Helvetica, sans-serif;
                }
                
                .grid-container {
                    display: grid;
                    grid-template-rows: 60px 1fr 30px;
                    min-height: 100vh;
                    header,
                    main,
                    footer {
                        padding: 0.5rem;
                    }
                    >header {
                        background-color: #981515;
                        text-align: center;
                    }
                    a {
                        color: white;
                    }
                    .logo {
                        padding: 0;
                        margin: 0;
                        height: 100%;
                        float: left;
                    }
                    .logo img {
                        height: 100%;
                    }
                    header p {
                        padding: 0.5rem;
                        margin: 0.5rem;
                        color: white;
                    }
                    .topmenu {
                        background-color: #981515;
                        overflow: show;
                        padding: 0px 0px;
                        margin: 0px auto;
                        width: 100%;
                        height: 34px;
                        text-align: center;
                        span.navigationSpace {
                            padding-left: 0px;
                        }
                    }
                    .topmenu span {
                        margin: 0px 0px;
                        padding: 0px 0px;
                        margin-top: 5px;
                        margin-left: 7px;
                        height: 34px;
                        max-width: 100%;
                    }
                    .topmenu span a {
                        display: inline;
                        list-style-type: none;
                        margin: 7px 0px;
                        padding: 0px 0px;
                        height: 34px;
                        padding-right: 4px;
                        padding-right: 4px;
                    }
                    .photo {
                        display: inline-flexbox;
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        height: 100%;
                        float: left;
                    }
                    .social {
                        display: flex;
                        flex-wrap: wrap;
                        float: right;
                    }
                    h1 {
                        text-align: center;
                        font-size: 60px;
                        padding: 1rem;
                    }
                    h2 {
                        font-size: 40px;
                        list-style-type: none;
                    }
                    h3 {
                        padding: 0;
                        color: white;
                    }
                    >main {
                        background-color: #f5efab;
                        >section {
                            padding: 1rem 0.25rem;
                        }
                        .video {
                            height: 75%;
                            width: 100%;
                        }
                    }
                    .restaurantphoto {
                        width: 100%;
                        height: 100%
                    }
                    .fresh {
                        padding: 1rem;
                        font-size: 30px;
                        text-align: center;
                    }
                    >footer {
                        background-color: #df3636;
                    }
                }
                
                .specials {
                    .special-items-container {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: 1rem;
                    }
                    .special-photo {
                        background-size: cover;
                        background-position: center center;
                        width: 100%;
                        height: 300px;
                    }
                    .special-name {
                        text-align: center;
                        font-weight: bold;
                    }
                    .special-price {
                        text-align: center;
                        font-weight: bold;
                    }
                }
                
                .about-us img {
                    max-width: 100%;
                }
                /* tablet rules */
                
                @media only screen and (min-width: 768px) {
                    .photo {
                        max-width: stretch;
                        float: left;
                        margin-right: 0.5rem;
                    }
                    .ingredientsphoto {
                        height: 800px;
                        width: 50%;
                        float: right;
                    }
                    .about-us {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        >div:first-child {
                            align-self: center;
                            p {
                                font-size: 30px;
                            }
                        }
                    }
                    .topnav a:not(:first-child) {
                        display: none;
                    }
                }
                /* desktop rules */
                
                @media only screen and (min-width: 991px) {
                    .grid-container {
                        grid-template-rows: 120px 1fr 30px;
                    }
                    .specials .special-items-container {
                        grid-template-columns: 1fr 1fr;
                    }
                }